.part4 {
    padding: 25px;
    height: 83vh;
}

.part4 .part4-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: black;
    padding: 0 0 10px 0;
}

.part4 .part4-card {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

.part4 .part4-card .part4-card-title,
.part4 .part4-card .part4-card-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #595959;
    line-height: 17px;
}

.part4 .part4-card .part4-card-name,
.part4 .part4-card .part4-card-detail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #7127FF;
}

.part4 .part4-card .part4-card-detail {
    font-size: 14px;
}

.part4 .part4-card-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.part4 .part4-card-2 .p4-2-1 svg,
.part4 .part4-card-2 .p4-2-2 svg,
.part4 .part4-card-2 .p4-2-3 svg,
.part4 .part4-card-2 .p4-2-4 svg,
.part4 .part4-card-2 .p4-2-5 svg,
.part4 .part4-card-2 .p4-2-6 svg {
    color: rgba(94, 0, 248, 1);
}

.part4 .part4-card-2 .p4-2-1,
.part4 .part4-card-2 .p4-2-2,
.part4 .part4-card-2 .p4-2-3,
.part4 .part4-card-2 .p4-2-4,
.part4 .part4-card-2 .p4-2-5,
.part4 .part4-card-2 .p4-2-6 {
    font-family: 'Inter';
    font-size: 13px;
    line-height: 17px;
    width: 135px;
    padding: 7px 0;
    display: flex;
    align-items: flex-start;
}

.part4 .part4-card-2 .div1 {
    font-family: 'Inter';
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: flex-start;
}

.part4 .part4-card-2 .div2 .div2-1 {
    font-size: 10px;
}

.part4 .part4-card-2 .div2 .div2-1 button {
    background: #FFFFFF;
    box-shadow: 0px 16px 48px -4px rgba(18, 31, 62, 0.1);
    border-radius: 8px;
    font-family: 'Inter';
    font-size: 10px;
    line-height: 150%;
    border: none;
    cursor: pointer;
    padding: 2px 4px;
    width: 100px;
    color: #121F3E;
    margin: 1px 0;
}

.part4 .part4-card-2 .div2 .div2-1 button span {
    background: rgba(227, 212, 255, 1);
    color: rgba(35, 31, 79, 1);
    padding: 1px 10px;
    border-radius: 8px;
}

.part4 .part4-card-2 .div2 .div2-1 .part4-btn-1,
.part4 .part4-card-2 .div2 .div2-1 .part4-btn-2 {
    background: #E3D4FF;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 9px;
    font-family: 'IBM Plex Sans';
    font-size: 8px;
    line-height: 150%;
    margin: 2\4px 0;
    color: #5E00F8;
    width: 50px;
    display: inline-block;
}

.part4 .part4-card-2 .div2 .div2-1 .part4-btn-2 {
    color: #1DCF00;
    background: #E6F9F4;
}

.part4 hr {
    margin: 20px 0;
    color: black;
}

.part4 .div-last {
    background-color: white;
    text-align: center;
    color: black;
    padding: 2px 0;
    border-radius: 8px;
}


/* Dark Mode */

.part4-dark .part4-head {
    color: white;
}

.part4-dark .part4-card {
    color: white;
    background-color: black;
    border: 2px solid #5E00F8;
}

.part4-dark hr {
    color: #5E00F8;
}

@media all and (max-width: 800px) {
    .part4 {
        height: 100%;
    }
}