.theme {
    background: #7127FF;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
}

.theme button {
    color: rgba(255, 255, 255, 1);
    background-color: #7127FF;
    padding: 7px 20px;
    text-transform: capitalize;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px 25px 25px 25px;
    cursor: pointer;
}

.theme button:hover {
    color: #7127FF;
    background-color: white;
    transition: 0.3s ease-in-out;
}